*.o
*.cds
*.log
*.tmp
*.hits
*.json
*.so
..Rcheck/
.vscode/
.Rproj.user
*.Rproj.user
*.Rproj
.RData
.Rhistory
dependencies/new/
dependencies/QuickBLASTdeps/BUILD/
dependencies/QuickBLASTdeps/inst/
BUILD/
inst/
old/
*.old
*.dll
