*.o
*.cds
*.log
*.tmp
*.hits
*.json
*.so
..Rcheck/
.Rproj.user
dependencies/new/
dependencies/QuickBLASTdeps/BUILD/
dependencies/QuickBLASTdeps/inst/
R/RcppExports.R
src/RcppExports.cpp
dependencies/QuickBLASTdeps/R/RcppExports.R
dependencies/QuickBLASTdeps/src/RcppExports.cpp
old/
*.old
*.dll
